html, body {
	margin: 0;
	background-color: #532F8C;
}

aside { 
  width: 100%; 
}

.Login{
	margin: auto;
	padding-top: 100px;
    width: 30%;
	text-align: center;
}
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}

.button{
	color: black;
}
