{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
	<section>	
		<div class="Login">	
		<p> Please  loging </p>
		<p> Username: &nbsp; 
			<input placeholder="Username"> </input>
			<br>
		</p>
		<p> Password: &nbsp;&nbsp; 
			<input type="password" placeholder="Password"> </input>
			<br>
		</p>
		<button class="loginbutton">login</button> <button class="loginbutton">Forgot password</button>
		</div>
	</section>
  </div>
</div>
{% endblock %}
