{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
	<section class=" body">	
		<div class="Login">	
		<p> Please  loging </p>
		<p> Username: &nbsp; 
			<input placeholder="Username"> </input>
			<br>
		</p>
		<p> Password: &nbsp;&nbsp; 
			<input type="password" placeholder="Password"> </input>
			<br>
		</p>
		<button class="button">login</button> <button class="button">Forgot password</button>
		</div>
	</section>	
  </div>
</div>
<div class="container">
</div>

{% endblock %}
